# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Version control
.git
.gitignore

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.*

# Docker files
Dockerfile
.dockerignore

# Other
README.md
*.log
.DS_Store
coverage
.cursor/ 